<p id="notice"><%= notice %></p>

<p>
  <strong>Alias:</strong>
  <%= @vendor_alias.alias %>
</p>

<%= link_to 'Edit', edit_vendor_alias_path(@vendor_alias) %> |
<%= link_to 'Back', vendor_aliases_path %>
